.main-card{
    border: 2px solid rgb(201, 198, 198);
    margin: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    >img{
        width: 15rem;
        padding: 1rem;
        // border: 2px solid red;
        border-radius: 2rem;
    }
    >div{
        margin-left: 2rem;
        width: 40rem;
        // border: 2px solid red;
    }
    
}
.info{
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
}
